<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940709772365-va6v04q32rvejfk632ojfg0bmkih8t69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940709772365-va6v04q32rvejfk632ojfg0bmkih8t69</string>
	<key>API_KEY</key>
	<string>AIzaSyC-C5EalFjt1GDSKaGvCnDYf8RsIY6qOYo</string>
	<key>GCM_SENDER_ID</key>
	<string>940709772365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.yolopApp.com</string>
	<key>PROJECT_ID</key>
	<string>yolop-b22d6</string>
	<key>STORAGE_BUCKET</key>
	<string>yolop-b22d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940709772365:ios:b7be446d62cc16cd893004</string>
</dict>
</plist>